header {
   background-color: rgb(183, 105, 118);
   color: lightgray;
 }

 /* h1{
   font-size: "2rem";
   font-style: "italic";
   color: "black";
 }

 nav {
   width: ":100%";
   display: "flex";
   justify-content: "space-between";
   align-items: "center";
   gap: "3rem";
   margin-top: "18px";
 }

 ul{
   list-style-type: "none";
   color: "white";
 } */